/* style.css */

header {
    background-color: black;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 19px;
    height: 80px;
   width:100%;
   flex: auto;
   align-items: center;
   flex-wrap: wrap;
   
  }
  
  .NavBar a {
    color: #00B2FF;
    text-decoration: none;
    justify-content: right; 
    margin-left: 200px;
   height: 125px;
   flex-wrap: wrap;
   cursor: pointer;
   
  }
  
  .NavBar a:last-child {
    margin-right: 0;
  }
  
  .footer {
    background-color:rgb(27, 25, 25);
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 55px;
    margin-top: 30px;
  }
  
  .footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
   
  }
  
.content {
 margin-top:40px ;
 background-color: white;
 transform-origin: top;
 /* add depth with shadows*/
 box-shadow: 0px 0px 145px rgba(0, 0, 0,0.3);
 padding: 15px;
 transform: perspective(1000px); 

}
body {
    background-color: rgb(27, 25, 25);
}

.NavBar a:hover {
    color: whitesmoke; /* Change the color to blue on hover */
  }
  .owner{
    color: whitesmoke;
  }
  h1{
    color: black;
  }
  h2{
    color: #00B2FF
  }
  p2 {
color:black
  }
  p{
    color:#00B2FF
  }
  Button  {
    margin-left: 50%;
   
    
    cursor: pointer;
   
   

}
.button {
    background-color:#00B2FF; 
     box-shadow: 0px 0px 145px rgba(0, 0, 0,0.3);
    transform: perspective(1000px);
    color: white;
}

