/* style.css */

header {
    background-color: black;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 19px;
    height: 80px;
   width:100%;
   flex: auto;
   align-items: center;
   flex-wrap: wrap;
   background-color: black;
   font-size: 16px;
   
 
  }
  nav h1{
    color: whitesmoke;

  }
  
  Link {
    color:white;
    text-decoration:wavy;
    justify-content: right; 
    margin-left: 200px;
   flex-wrap:wrap;
   cursor: pointer;
   
  }
  
  .NavBar li:last-child {
    margin-right: 0;
  }
  
  .footer {
    background-color:rgb(27, 25, 25);
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 55px;
    margin-top: 40px;
    justify-content: space-around;
  }
  
  .footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
   
  }
  
.content {
 margin-top:40px ;
 background-color: white;
 transform-origin: top;
 /* add depth with shadows*/
 box-shadow: 0px 0px 145px rgba(230, 225, 225, 0.3);
 padding: 15px;
 transform: perspective(1000px); 
 height: 300px;

}
body {
    background-color: rgb(27, 25, 25);
}

.NavBar a:hover {
    color: whitesmoke; /* Change the color to blue on hover */
  }
  .owner{
    color: whitesmoke;
  }
  h1{
    color: black;
  }
  h2{
    color: #00B2FF
  }
  p2 {
color:black
  }
  p{
    color:#00B2FF
  }
  Button  {
    margin-left: 46%;
   
    margin-top: 15px;
    cursor: pointer;
   
   

}
.button {
    background-color:#00B2FF; 
     box-shadow: 0px 0px 145px rgba(0, 0, 0,0.3);
    transform: perspective(1000px);
    color: white;
}

.contentC{
    width: 350px;
    height: 285px;
    margin-left: 525px;
    box-shadow: 0px 0px 145px #00B2FF;
    background-color: black;
    margin-top: 90px;
    transform: perspective(1000px);
    color: #00B2FF;
}
.contactMe{
    color: #00B2FF;
    margin-left: 55px;
}
.logo img{
    width: 100px;
    height: 100px;
}
.navLinks a{
    color:#00B2FF;
   text-decoration: none;
   
}
.navLinks  :hover{
    color:whitesmoke;
}
.githubLogo{
   height: 50px;
   width: 60px;
   color: #00B2FF;
}
.linkedinLogo{
  height: 50px;
   width: 60px;
   color: #00B2FF;
}
.githubLogo :hover{
  padding: 15px;
   color: whitesmoke;
   
}
.linkedinLogo :hover{
   color: whitesmoke;
   padding: 15px;
}
.portIcon{
  height: 70px;
  width: 60px;
  color: #00B2FF;
  margin-left: 660px;
  margin-top: 25px;
}
.contentP{
  margin-left: 600px;
  margin-top: 75px;

}
.AM {
  font-size: 35px;
  margin-left: 45px;
}